<div id="<%= dom_id user %>">
  <p>
    <strong>Session key:</strong>
    <%= user.session_key %>
  </p>

  <p>
    <strong>Unionid:</strong>
    <%= user.unionid %>
  </p>

  <p>
    <strong>Openid:</strong>
    <%= user.openid %>
  </p>

  <p>
    <strong>Last appid:</strong>
    <%= user.last_appid %>
  </p>

</div>
